body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 32px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffffff;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.text-box {
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #333333;
}

textarea {
  height: 300px;
  resize: none;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #444444;
  color: #ffffff;
}

.submit-button {
  position: relative;
  background-color: #ef5b25;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: -5px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #d84e21;
}

.submit-button:disabled {
  position: relative;
  background-color: #ef5b25;
  color: #ffffff;
  opacity: 40%;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: not-allowed;
}

.submit-button--loading .submit-button-text {
  visibility: hidden;
  opacity: 0;
}

.submit-button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.intro-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.scroll-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
}
